*{
    margin: 0;
    padding: 0;

}
a{
    color: #121212;
}
body {
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
    font-size: 10px;
    background-color: #121212;
}
nav
{
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 0 10%;
    height: 12vh;
    align-items: center;


}
nav .left
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: indianred;
    font-size: 20px;
    text-shadow: -1px 1px 0 #FF0000,
    1px 1px 0 #FF0000,
    1px -1px 0 #FF0000,
    -1px -1px 0 #FF0000;
    outline-style: solid;
    outline-offset: 9px;
    border-radius: 20px;
}
nav ul
{
    display: flex;
    justify-content: center;
    color: #121212;
    font-size: 20px;

}
nav ul li
{
    list-style: none;
    cursor: pointer;
    margin: 0 23px;
    font-size: larger;

}
nav ul a
{
    text-decoration: none;
}
nav ul a:hover
{
    color: darkred;
    text-decoration: none;
}
img
{
    width: 50px;
    height: 35px;
}
#rbcVideo
{
    width:100%;
    opacity: 0.6;
    z-index: -1;
    position: absolute;
}
.firstSection
{
    position: relative;
}
.secondSection
{
  background-color: white;
}
#login
{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #d23b3b;
    border: 2px solid red;
    letter-spacing: 2px;
    border-radius: 3px;
    text-align: center;
    position: relative;

}
#login:hover
{
    background-color: red;
    color: white;
}
.Container
{
    display: flex;
    justify-content: space-around;
    margin-top: 6px;
    align-items: center;

}
.leftSection
{
    display: block;
    justify-content: flex-start;
    color: white;
    font-size: 20px;
    padding-left: 10px;

}
.rightSection #img1
{
    width: 600px;
    height: 560px;
   padding-right: 45px;
    padding-top: 50px;
    border-radius: 10px;
}