*{
    margin: 0;
    padding: 0;

}
body {
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
    font-size: 10px;
    background-color: #121212;
}
nav
{
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 0 10%;
    height: 10vh;
    align-items: center;


}
nav .left
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: indianred;
    font-size: 20px;
    text-shadow: -1px 1px 0 #FF0000,
    1px 1px 0 #FF0000,
    1px -1px 0 #FF0000,
    -1px -1px 0 #FF0000
}
nav ul
{
    display: flex;
    justify-content: center;
    color: #121212;
    font-size: 20px;

}
nav ul li
{
    list-style: none;
    cursor: pointer;
    margin: 0 23px;
    font-size: larger;
}
nav ul a
{
    text-decoration: none;
}
nav ul a:hover
{
    color: darkred;
    text-decoration: none;
}
img
{
    width: 50px;
    height: 35px;
}